<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<body>

<div ng-app="" ng-init="company={name: 'RisingSoft'}; employee={name: 'Andrej', surname: 'Istomin'}">
    <p>First Name : <input type="text" ng-model="employee.name"></p>
    <p>Last Name : <input type="text" ng-model="employee.surname"></p>
    <p>Company : <input type="text" ng-model="company.name"></p>
    <h1>Employee: {{employee.name + " " + employee.surname}}</h1>
    <h1>Company: {{company.name}}</h1>
</div>

</body>
</html>